canvas.designer {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}

.chipDetailsContainer {
    min-width: 20vw;
    max-width: 30vw;
    min-height: 100px;
    position: fixed;
}


.chipDetailsContent{
    max-height: calc(100vh - 40px - 3rem);
    overflow-y: auto;
}
.chipDetailsTitle span{
    float: right;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin-left: 5px;
}
.chipDetailsTitle span[data-toggle]:before {
    content: "-";
}

.chipDetailsContainer.closed .chipDetailsTitle span[data-toggle]:before {
    content: "+";
}

.chipDetailsContainer.closed .chipDetailsContent {
    display: none;
}

.right-click-menu {
    box-shadow: 4px 4px 1px -2px #CCC;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.right-click-menu nav a {
    padding: 4px 8px;
}

a.disabled {
    cursor: default;
    color: "#888";
    text-decoration: none;
}

pre {
    position: fixed;
    bottom: 1vh;
    left: 6vh;
    width: 0vh;
    height: 0vh;
    background-color: #CCC;
    margin:0;
}

pre.open {
    width: 70vh;
    height: 98vh;
}

button.preToggle {
    position: fixed;
    bottom: 1vh;
    left: 1vh;
}

pre{
    counter-reset: line;
}
code{
    counter-increment: line;
    display: block;
}

code:before{
    width: 40px;
    padding-left: 5px;
    margin-right: 5px;
    background-color: #BBB;
    display: inline-block;
    content: counter(line);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
